{% extends 'layout.twig' %} {% block body %}

<div class="animated fadeIn">

  <div class="row">
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">{{ totalTodayWalk }}</div>
          <div>Total Today Walk</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          <canvas class="chart" id="card-chart3" height="70"></canvas>
        </div>
      </div>
    </div>

    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <button class="btn btn-transparent p-0 float-right" type="button">
            <i class="icon-location-pin"></i>
          </button>
          <div class="text-value">{{ totalThisWeekWalk }}</div>
          <div>Total Walks This Week</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas class="chart" id="card-chart2" height="70"></canvas>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">{{ totalMonthlyWalk }}</div>
          <div>Total Walk This Month</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas class="chart" id="card-chart1" height="70"></canvas>
        </div>
      </div>
    </div>
    <!-- /.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="btn-group float-right">
            <button class="btn btn-transparent dropdown-toggle p-0" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">{{ totalThisYearWalk }}</div>
          <div>Total This Year Walk</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          <canvas class="chart" id="card-chart4" height="70"></canvas>
        </div>
      </div>
    </div>
    <!-- /.col-->
  </div>
  <!-- /.row-->
  <div class="row">
  <div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">Comparison with previous month steps</h4>
        </div>
        <!-- /.col-->
        <div class="col-sm-7 d-none d-md-block">
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- /.row-->
      <div class="chart-wrapper" style="height:350px;margin-top:40px;">
        <canvas class="chart" id="main-chart-d" height="350"></canvas>
      </div>

    </div>
    <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Walking Previous Month</div>
            <strong>{{ totalPrevMonthlyWalk }}</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Walking This Month</div>
            <strong>{{ totalMonthlyWalk }}</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <h4 class="card-title mb-0">Monthly data for this years</h4>
        </div>
        <!-- /.col-->
        <div class="col-sm-7 d-none d-md-block">
          <div class="btn-group btn-group-toggle float-right mr-3" data-toggle="buttons">
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- /.row-->

      <div class="chart-wrapper" style="height:350px;margin-top:40px;">
        <canvas class="chart" id="main-chart-monthly" height="350"></canvas>
      </div>

    </div>
    <div class="card-footer">
        <div class="row text-center">
          <div class="col-sm-12 col-md mb-sm-2 mb-0">
            <div class="text-muted">Best Month {{ bestMonth.creationDate }} scored with </div>
            <strong>{{ bestMonth.total }} steps</strong>
            <div class="progress progress-xs mt-2">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
  </div>
  <!-- /.card-->
</div>
{% endblock %} {% block js %}
<script>
  var mainChart = new Chart($('#main-chart-d'), {
    type: 'line',
    data: {
      labels: {{ walkMonthlyKey| json_encode | raw }},
  datasets: [{
    label: 'Current month record',
    backgroundColor: hexToRgba(getStyle('--info'), 10),
    borderColor: getStyle('--info'),
    pointHoverBackgroundColor: '#fff',
    borderWidth: 2,
    data: {{ walkMonthlyValue | json_encode | raw }}
      }, {
    label: 'Previous month record',
    backgroundColor: 'transparent',
    borderColor: getStyle('--danger'),
    pointHoverBackgroundColor: '#fff',
    borderWidth: 1,
    borderDash: [8, 5],
    data: {{ prevWalkMonthlyValue | json_encode | raw }}
      }]
    },
  options: {
    maintainAspectRatio: false,
      legend: {
      display: false
    },
    scales: {
      xAxes: [{
        gridLines: {
          drawOnChartArea: false
        }
      }],
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
    },
    elements: {
      point: {
        radius: 0,
          hitRadius: 10,
            hoverRadius: 4,
              hoverBorderWidth: 3
      }
    }
  }
  });

  var mainChart = new Chart($('#main-chart-monthly'), {
    type: 'bar',
    data: {
      labels: {{ walkMonthlyKeyChart| json_encode | raw }},
  datasets: [{
    label: 'Monthly data',
    backgroundColor: hexToRgba(getStyle('--info'), 10),
    borderColor: getStyle('--info'),
    pointHoverBackgroundColor: '#fff',
    borderWidth: 2,
    data: {{ walkMonthlyValueChart | json_encode | raw }}
      }]
    },
  });
</script> {% endblock %}